@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Create Tichet";
}

<style>
	main {
		flex-direction: column;
	}
	.row{
		margin-left: 5%;
	}
</style>

<h1>Create</h1>

<h4>Tichetele tale</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="CreateTichetST" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Detalii" class="control-label"></label>
				<input asp-for="Detalii" class="form-control" autocomplete="off" />
				<span asp-validation-for="Detalii" class="text-danger"></span>
			</div>	
			<div class="form-group form-check">
				<label class="form-check-label">
					Important? <input class="checkImportant" asp-for="TipTichet" />
				</label>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<form asp-acton = "Index" method="post">
		<input class = "button" type = "submit" value = "Back to List" />
	</form>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
