@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Create Tichet";
}

<style>
    main {
        flex-direction: column;
    }

    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<link rel="stylesheet" href="~/css/styleTable.css">
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate w-50 p-3">
        <div class="card-header header-elements-inline ml-50">
            <h5 style="font-family:Garamond,serif; font-size: 36px; text-align: center">Care este problema?</h5>
        </div>

        <div class="container-fluid">
			<form asp-action="CreateTichetST" method="post" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Detalii" class="control-label">Scrie detaliile problemei tale:</label>
					<input asp-for="Detalii" class="form-control" autocomplete="off" />
					<span asp-validation-for="Detalii" class="text-danger"></span>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						Important? <input class="checkImportant" asp-for="TipTichet" />
					</label>
				</div>
				<div class="form-group form-check">
					<label class="form-check-label">
						Imaginea problemei: <input type="file" name="file"/>
					</label>
				</div>
				<div class="form-group">
					<input type="submit" value="Trimite" class="create_button" />
					<a asp-action="Tichete" class="create_button">Înapoi</a>
				</div>
			</form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
