@model AplicatieCamine.Models.Tichet

@{
    ViewData["Title"] = "Create Tichet";
}

<style>
    main {
        flex-direction: column;
    }

    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<link rel="stylesheet" href="~/css/styleTable.css">
<div class="container-fluid d-flex justify-content-center mb-auto">
    <div class="cardCreate w-50 p-3">
        <div class="card-header header-elements-inline ml-50">
            <h5 style="font-family:Garamond,serif; font-size: 36px; text-align: center">Care este problema?</h5>
        </div>

<div>
	<form asp-acton = "Index" method="post">
		<input class = "button" type = "submit" value = "Înapoi" />
	</form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
