<!DOCTYPE html>
<html lang="en">
<head>
    <link class="icon" rel="icon" href="../uvt.ico" type="image/x-icon"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicatieCamine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="../CamineUVT.jpg" width="200" height="110"/>
                    </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="button3"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></button>
</li>
                        <li class="nav-item">
                            <button class="button3"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a></button>
</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AplicatieCamine - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
<style>
    .button3 {
        border: none;
        color: black;
        background-color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        cursor: pointer;
        transition-duration: 0.4s;
    }

        .button3:hover {
            background-color: #e7e7e7;
        }
    ,icon{
        width: 100px;
        height:100px;
    }
</style>