@using System.Security.Principal
@using System

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        string u = User.Identity.Name;
        string[] utilizator = u.Split(new char[] { '.', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'});
        string usr = utilizator[0] + '.' + utilizator[1] + utilizator[2] + utilizator[3];
        //Boolean result = char.IsDigit(text[text.Length - 1]);
        string nume = (utilizator[1] + ' ' + utilizator[0]).ToUpper();
        <li class="nav-item">
            <table>
                <tr>
                    <td class="unde">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </td>
                    <td>
                        <p class="nume">@nume</p>
                    </td>
                </tr>
            </table>
        </li>
        <li class="nav-item">
            <button class="button3"> 
                <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut"> Sign Out </a> 
            </button>
        </li>
    }
    else
    {
        <li class="nav-item">
            <button class="button3">
                <a class="nav-link text-dark" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a>
             </button>
        </li>
    }
</ul>
