@model AplicatieCamine.Models.Camine

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/styleTable.css">

<style>
    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>
<div class="container-fluid d-flex justify-content-center mb-50">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50">
            <h5 style="font-family:Garamond,serif; font-size: 30px">Editează Cămin</h5>
        </div>
        <div class="container-fluid">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCamin" />
                <div class="form-group">
                    <label asp-for="Adresa" class="control-label">Adresă:</label>
                    <input asp-for="Adresa" class="form-control" />
                    <span asp-validation-for="Adresa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrCamere" class="control-label">Număr Camere:</label>
                    <input asp-for="NrCamere" class="form-control" />
                    <span asp-validation-for="NrCamere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrLocuri" class="control-label">Număr locuri:</label>
                    <input asp-for="NrLocuri" class="form-control" />
                    <span asp-validation-for="NrLocuri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Facultate" class="control-label">Facultate:</label>
                    <input asp-for="Facultate" class="form-control" />
                    <span asp-validation-for="Facultate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descriere" class="control-label">Descriere:</label>
                    <input asp-for="Descriere" class="form-control" />
                    <span asp-validation-for="Descriere" class="text-danger"></span>
                </div>
                <div class="justify-content-center">
                    <input type="submit" value="Salvează" class="create_button" />
                    <a class="create_button" asp-action="Index">Înapoi</a>
                </div>
            </form>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
