con {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.con::after {
    content: "";
    background: url("Images/camine/5.jpg");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
}

body {
    width: 100vw;
    height: auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 31%;
    margin-left: 2%;
    text-align: center;
}
