@using System;
@model IEnumerable<AplicatieCamine.Models.Camine>
@{
	ViewData["Title"] = "Home Page";
	int count = System.IO.Directory.EnumerateFiles(@"wwwroot/Images/camine").Count<string>();
	string u = User.Identity.Name;
	string usr = u.Split('@')[0];
	bool isAdmin = false;
	if (!char.IsDigit(usr[usr.Length - 1]))
	{
		@*bool adminInDB = false;
			foreach (var ad in Model)
			{
				if (ad.Email.Equals(u))
				{
					adminInDB = true;
					break;
				}
			}
			if (!adminInDB)
			{
				//Should insert into DB
			}*@
		isAdmin = true;
	}
}


<style>
	* {
		box-sizing: border-box;
	}

	.prop {
		position: relative;
		top: 100px;
	}

	.button {
		position: relative;
		top: 150px;
		border: none;
		color: white;
		background-color: #008CBA;
		padding: 40px 55px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 25px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 30px;
		transition-duration: 0.6s;
	}

		.button:hover {
			background-color: white;
			color: black;
			border: 2px solid #008CBA;
		}

	.buttonsa {
		position: relative;
		left: 300px;
	}

	.row::after {
		content: "";
		clear: both;
		display: table;
	}

	[class*="col-"] {
		float: left;
		padding: 5px;
		border: 1px solid red;
	}

	.col-1 {
		width: 20%;
	}

	.col-2 {
		width: 40%;
	}

	.col-3 {
		width: 60%;
	}

	.col-4 {
		width: 80%;
	}

	.col-5 {
		width: 100%;
	}

	[class*="col-"] img {
		width: 100%;
		height: 200px;
	}
</style>
@*if (isAdmin)// pentru Student*@
@if (isAdmin)// (User.IsInRole("admin"))
{
	<h2 align="center">Hi i am an admin!</h2>
	<div class="text-center">
		<div class="prop">
			<h1 class="display-4">Selectează</h1>
			<p>pentru a vizualiza, a adăuga, a șterge și pentru a edita datele</p>
		</div>
		<table align="center">
			<tr>
				<td>
					<form action=" https://localhost:44383/Camere">
						<input class="button" type="submit" value="Camere" />
					</form>
				</td>
				<td>
					<form action=" https://localhost:44383/Camine">
						<input class="button" type="submit" value="Cămine" />
					</form>
				</td>
				<td>
					<form action=" https://localhost:44383/Student">
						<input class="button" type="submit" value="Studenți" />
					</form>
				</td>
				<td>
					<form action=" https://localhost:44383/Tichet">
						<input class="button" type="submit" value="Tichete" />
					</form>
				</td>
				<td>
					<form action=" https://localhost:44383/Administratori">
						<input class="button" type="submit" value="Administratori" />
					</form>
				</td>
			</tr>
		</table>
	</div>
}	
else
{
	<div class = "text-center">
		<table align="center">
			<tr>
				<td>
					<form action=" https://localhost:44383/Camine" method="post">
						<input class="button" type="submit" value="Structura Camine" />
					</form>
				</td>
				<td>
					<form action=" https://localhost:44383/Tichet" method="post">
						<input class="button" type="submit" value="Tichete" />
					</form>
				</td>
			</tr>
		</table>
	</div>
}
