@model AplicatieCamine.Models.Camere

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/styleTable.css">
<div class="container-fluid d-flex justify-content-center mb-50">
    <div class="cardCreate">
        <div class="card-header header-elements-inline ml-50">
            <h5 style="font-family:Garamond,serif; font-size: 30px">Creare Cameră</h5>
        </div>

        <div class="container-fluid">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdCamera" class="control-label">ID Cameră:</label>
                    <input asp-for="IdCamera" class="form-control" />
                    <span asp-validation-for="IdCamera" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCamin" class="control-label">ID Cămin:</label>
                    <select asp-for="IdCamin" class="form-control" asp-items="ViewBag.IdCamin"></select>
                </div>
                <div class="form-group">
                    <label asp-for="LimitaNrStudenti" class="control-label">Numărul limită de student:</label>
                    <input asp-for="LimitaNrStudenti" class="form-control" />
                    <span asp-validation-for="LimitaNrStudenti" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrStudentiCazati" class="control-label">Număr studenți cazați:</label>
                    <input asp-for="NrStudentiCazati" class="form-control" />
                    <span asp-validation-for="NrStudentiCazati" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descriere" class="control-label">Descriere:</label>
                    <input asp-for="Descriere" class="form-control" />
                    <span asp-validation-for="Descriere" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NrCamera" class="control-label">Număr Cameră:</label>
                    <input asp-for="NrCamera" class="form-control" />
                    <span asp-validation-for="NrCamera" class="text-danger"></span>
                </div>
                <div class="mx-auto mb-2">
                    <input type="submit" value="Crează" class="create_button" /> 
                    <a asp-action="Index" class="create_button">Înapoi</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .create_button {
        border: none;
        color: white;
        background-color: #008CBA;
        padding: 5px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 0.6s;
        margin: 5px 0 5px 10px;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
