
.gridAdmins {
	flex: 0.6;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}	

.gridAdmins form{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.adminButtons{
	float: left;
	width: 70%;
	height: 80%;
	margin-top: 5%;
}

.adminButtons, .statisticButton {
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	cursor: pointer;
	border-radius: 30px;
	transition-duration: 0.6s;
}

.center{
	margin-left: 10%;
	width: 80%;
}
.right {
	float: right;
}

.adminButtons:hover, .statisticButton:hover{
	background-color: white;
	color: black;
	border: 1px solid #008CBA;
	text-decoration: underline;
}

.adminButtons, .statisticButton {
	background-color: #008CBA;
	color: white;
}

.statisticButton:hover{
	border: 1px solid #808080;
}

.statisticButton{
	width: 100%;
	height: 100%;
	background-color: #808080;
}

.text-center {
	flex: 0.8;
	display: flex;
	flex-direction: column;
}

#stat-clean{
	flex: 0.2;
	width: 80%;
	margin-left: 10%;
	display: flex;
	justify-content: space-evenly;
}
#stat-clean form {
	width: 33.3%;
	height: 100%;
}
@media(max-width:1195px){
	.gridAdmins {
		grid-template-columns: 1fr 1fr;
	}
	.adminButtons{
		margin-left: 15%;
		margin-top: 2.5%;
	}
	.right{
		float: left;
	}
	.center{
		width: 70%;
	}

	#stat-clean{
		justify-content: space-between;
	}

	#stat-clean form {
		width: 35%;
		height: 80%;
	}
}

@media(max-width: 808px){
	.gridAdmins {
		grid-template-columns: 1fr;
		grid-gap: 5px 1px;
	}
	.adminButtons{
		margin-top: 1%;
	}
	#stat-clean{
		flex-direction: column;
	}
	#stat-clean form {
		width: 88%;
		height: 40%;
		margin-left: 6%;
		margin-top: 2%;
	}
}
