.gridAdmins{
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-top: 5%;
}

.row {
	flex-direction: column;
}

.row div {
	flex: 1;
}

.adminButtons{
	width: 100%;
	height: 40px;
}