*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 99vw;
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

a.navbar-brand {
    background: url("../../img/CamineUVT.jpg");
    width: 30px;
    height: 30px;
    background-size: 30px;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: -1.2%;
}

main {
    flex: 1;
    display: flex;
    padding-left: 5em;
    padding-right: 5em;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../Images/camine/5.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Lazy Loading*/
header{
    border-bottom: 1px solid black;
}

footer {
    width: 100%;
    background-color: #F7F9FF;
    overflow: visible;
    text-align: center;
    padding: 35px 45px 25px;
    font: bold 16px sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    border-top: 1px solid black;
}

footer > div a, footer > div p{
    font-size: 20px;
}

.footer-icons a{
    font-size: 32px;
    margin-left: 2%;
}

.self-col {
    margin-left: 1%;
    margin-top: 5%;
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.self-col:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,1),0 17px 50px 0 rgba(0,0,0,0.60);
}

.flexible{
    flex-grow: 1;
}

.self-col p{
    font-size: 30px;
    text-align: center;
    font-family: Garamond, serif;
}

.submit {
    float: left;
    margin-left: 15%;
    width: 70%;
    border: none;
    color: white;
    background-color: #008CBA;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.6s;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.checkImportant {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 5px;
}

.button3 {
    border: none;
    color: black;
    background-color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button3:hover {
    background-color: #e7e7e7;
 }

@media (max-width: 800px) {
    .unde .nume {
        display: none;
    }

    main {
        flex-direction: column;
    }

    .self-col p{
        font-size: 20px;
    }
    footer > div a, footer > div p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    footer {
        grid-template-columns: 1fr;
    }

    .self-col p {
        font-size: 14px;
    }

    footer > div a, footer > div p {
        font-size: 16px;
    }
}

