@model IEnumerable<AplicatieCamine.Models.Student>
@using System.Text.Json;
@{
	ViewData["Title"] = "Index";
	var serializer = Json.Serialize(Model);
}

<style>
	main {
		flex-direction: column;
	}

	.create_button {
		border: none;
		color: white;
		background-color: #008CBA;
		padding: 5px 15px;
		text-align: center;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
		transition-duration: 0.6s;
		margin: 5px 0 5px 10px;
	}

	.show{
		color: darkcyan;
		text-decoration: underline;
		font-size: 16px;
	}

	.show:hover{
		cursor: pointer;
	}
</style>

@section Scripts{
	<script>
        $(document).ready(function () {
            i = 0;
			content = $("#tbody-student");
            listaStudenti = @serializer;
            loadMore();
            console.log(content.children())
			if (content.children().length <= 11) {
				$("#less").css({ "display": "none" });
			}
            $("#more").click(function (event) {
                loadMore();
				if ((content.children().length - 1) % 10 != 0) {
					$("#more").css({ "display": "none" });
                }
				if (content.children().length > 10) {
					$("#less").css({ "display": "inline-block" });
				}
            });

			$("#less").click(function (event) {
                loadLess();
                if (content.children().length <= 11) {
					$("#less").css({ "display": "none" });
                }
                if (content.children().length != listaStudenti.length) {
                    $("#more").css({ "display": "inline-block" });
				}
            });

            $("#find_student_by_id").change(function (event) {
                $("#tempRow").empty();
                $("#more").css({ "display": "none" });
				$("#less").css({ "display": "none" });
				$("#tempRow").css({ "display": "none" });
                if ($("#find_student_by_id").val() != 0) {
					hideRows(parseInt($("#find_student_by_id").val()));
                } else {
                    showRows();
					if (content.children().length > 11) {
						$("#less").css({ "display": "inline-block" });
					}
					if (content.children().length != listaStudenti.length) {
						$("#more").css({ "display": "inline-block" });
					}
				}
            });
		});

        function loadMore() {
            var pana_la = (i + 10 < listaStudenti.length ? i + 10 : listaStudenti.length);
			for (j = i; j < pana_la; j++) {
                content.append(displayStudent(listaStudenti[j]));
                i += 1;
            }
        }

        function loadLess() {
            var pana_la = (i - 10 > 0 ? i - 10 : 0);
            var childs = content.children();
            for (var j = childs.length - 1; j > pana_la; j--) {
                childs[j].remove();
                i -= 1;
            }
        }

        function displayStudent(student) {
			row = "<tr>";
			delete student["idCameraNavigation"];
			delete student["tichet"];
			delete student["dataCazare"];
            student_values = Object.values(student);
            console.log(student);
			row += "<td>" + student.idStudent + "</td>";
			row += "<td>" + student.nume + "</td>";
			row += "<td>" + student.prenume + "</td>";
			row += "<td>" + student.facultate + "</td>";
			row += "<td>" + student.varsta + "</td>";
            row += "<td>" + student.adresa + "</td>";
            row += "<td>" + student.email + "</td>";
            row += "<td>" + student.an + "</td>";
			row += "<td>" + student.idCamera + "</td>";
            row += "<td><a href=\"/Student/Edit/" + student.idStudent + "\">Editează</a> | ";
            row += "<a href=\"/Student/Details/" + student.idStudent + "\">Detalii</a> | ";
			row += "<a href=\"/Student/Delete/" + student.idStudent + "\">Șterge</a> </td>";
			row += "</tr>";
			return row;
		}

        function hideRows(student_id) {
            var c = content.children();
            var [f1, ...childs] = c;
            var found = false;
            for (var pos = 0; pos < childs.length; pos++) {
                var id = parseInt(childs[pos].children[0].innerText);
                if (id != student_id) {
                    childs[pos].style.display = "none";
                } else {
                    found = true;
				}
            }
            if (!found) {
                temprowContent = displayStudent(findStudent(student_id));
                $("#tempRow").append(temprowContent.substr(4, temprowContent.length - 5));
                $("#tempRow").css({ "display": "table-row" });
			}
        }

        function showRows() {
            var childs = content.children();
			for (var pos = 0; pos < childs.length; pos++) {
				childs[pos].style.display = "table-row";
			}
        }

        function findStudent(id) {
            for (var pos = 0; pos < listaStudenti.length; pos++) {
                if (listaStudenti[pos].idStudent == id) {
                    return listaStudenti[pos];
				}
			}
		}
	</script>
}

<div class="container-fluid d-flex justify-content-center mb-auto">
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 style="font-family:Garamond,serif;font-size: 40px">Studenți</h5>
			<div class="mb-2">
                <label for="student_finder">Caută după ID Student: </label>
                <input type="number" min="0" max="@Model.Count()" id="find_student_by_id" name="student_finder" value="0"/>
				<a asp-action="Create" class="create_button">Adaugă!</a>
				<a asp-controller="Home" asp-action="Index" class="create_button">Înapoi</a>
			</div>
		</div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            ID Student
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nume)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Prenume)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Facultate)
                        </th>
                        <th>
                            Vârstă
                        </th>
                        <th>
                            Adresă
                        </th>
                        <th>
                            E-mail
                        </th>
                        <th>
                            An Fac.
                        </th>
						<th>
							ID Cameră
						</th>
                    </tr>
                </thead>
                <tbody id="tbody-student">
                    <tr id="tempRow" style="display: none;"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="mx-auto mt-2">
    <svg id="more" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#008CBA" class="bi bi-arrow-down-circle-fill show" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
    </svg>
    <svg id="less" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="#008CBA" class="bi bi-arrow-up-circle-fill show" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
    </svg>
</div>
